<?xml version='1.0' encoding='UTF-8'?>
<plugin id="cordova-plugin-ios-photolibrary-readwrite-permissions" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
    <name>iOS Permissions</name>
    <author>Andreas Jacob (http://cordobo.com/)</author>
    <description>Cordova / PhoneGap Plugin Permission Settings for NSPhotoLibraryUsageDescription in iOS 11 by adding a declaration to the Info.plist file</description>
    <keywords>cordova, ios, app, security, permissions, nsphotolibraryusagedescription</keywords>
    <license>MIT</license>
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
        </engines>
        <platform name="ios">
            <preference name="PHOTOLIBRARY_USAGE_DESCRIPTION" default="This app needs read/write-access photo library access"/>
            <config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
                <string>$PHOTOLIBRARY_USAGE_DESCRIPTION</string>
            </config-file>
        </platform>
    </plugin>
